extends layout
// Define basic data fields using Jade’s mixin features
// Bind to those data fields for dynamic updates
mixin metric(id,title,footer)
  div(class="panel panel-default",id="#{id}-metric" )
    if title
      div.panel-heading: h3.panel-title= title
    div(class="panel-body metric")
      h1#ss-message= "TBD"
    if footer
      div.panel-footer= footer
  block styles
  //link(rel=’stylesheet’,href=’/stylesheets/dashboard.css’)
block scripts
  script(src='/socket.io/socket.io.js')
  // bind to the data fields defined in mixin
  // stream the actual data from the data stream emitter
  script(src='/javascripts/client.socket.io.js')
block content
  div(class="container")
    div(class = "page-header")
      div.col-md-10
        h1(class = "text-primary").
         Twitter A/B Polls
      div#total(class = "col-md-2")
    // Table to show statistics
    table.table.table-striped
      tbody
       tr
        td
          div#start_a
        td
          div#lcount
        td
         div#start_b
        td
          div#hcount
       tr
        td
         div#desc_a
        td
          div#lpercent
        td
         div#desc_b
        td
          div#hpercent
    //Table to show tweets.
    div(class="row")
      div(class="col-md-6")
        div(class="panel panel-default", id="l-message-metric")
          div.panel-heading: h3.panel-title="Tweets with 'Smart'"
        div#lbody(class="panel-body")
      div(class="col-md-6")
        div(class="panel panel-default", id="h-message-metric")
          div.panel-heading: h3.panel-title="Tweets with 'Fool'"
        div#hbody(class="panel-body")
